# 260212 | 데이터 불러오기 데스트

### 라이브러리 불러오기

In [3]:
from pandas import DataFrame, read_csv, read_excel

#### 원본 데이터 프레임 저장

In [6]:
import os
_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
raw_Lt_09_df = read_csv(os.path.join(_root, 'raw 데이터 모음', 'Lt09.csv'), encoding='utf-8')

# 컬럼명 전체 소문자로
raw_Lt_09_df.columns = raw_Lt_09_df.columns.str.lower()

# 확인
raw_Lt_09_df

,pid,w09oldnew,hhid,respid,hhid22,cid22,ed,w01,w02,w03,...,w09g012,w09g013,w09g014,w09g026,w09g027,w09g028,w09g029,w09g030,w09g031,w09g032
0,21,1,2,1,200000000,21,833,1.0,1.0,1.0,...,NaN,NaN,NaN,70,60,70.0,70.0,80,3,20
1,22,1,2,2,200000000,21,833,1.0,1.0,1.0,...,NaN,NaN,NaN,70,70,70.0,NaN,60,3,20
2,51,1,5,1,500000000,51,833,1.0,1.0,1.0,...,NaN,NaN,NaN,70,60,40.0,NaN,60,4,10
3,52,1,5,2,500000000,51,833,1.0,1.0,1.0,...,NaN,NaN,NaN,70,60,30.0,80.0,60,4,20
4,62,1,6,2,600000000,61,833,1.0,1.0,1.0,...,NaN,NaN,NaN,60,60,NaN,70.0,70,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6052,68001,2,6800,1,680000000000,68001,301,NaN,NaN,NaN,...,NaN,NaN,NaN,70,70,80.0,90.0,70,4,25
6053,68011,2,6801,1,680100000000,68011,494,NaN,NaN,NaN,...,NaN,NaN,NaN,70,40,70.0,70.0,70,5,10
6054,68021,2,6802,1,680200000000,68021,967,NaN,NaN,NaN,...,NaN,NaN,NaN,80,30,NaN,70.0,60,6,10
6055,68051,2,6805,1,680500000000,68051,29,NaN,NaN,NaN,...,NaN,NaN,NaN,50,50,100.0,100.0,50,4,20
6056,68052,2,6805,2,680500000000,68051,29,NaN,NaN,NaN,...,NaN,NaN,NaN,60,50,100.0,NaN,60,4,10

### 사용할 독립변수만 가져오기

In [7]:
cols = [
    "pid",           # 조인 키
    "w09_fam1",      # 개인특성변수_세대수
    "w09_fam2",      # 개인특성변수_세대구성
    "w09hhsize",     # 개인특성변수_가구원수(본인포함)
    "w09edu",        # 개인특성변수_응답자 학력
    "w09gender1",    # 개인특성변수_응답자 성별
    "w09a002_age",   # 개인특성변수_응답자 연령
    "w09marital",    # 개인특성변수_기본조사 당시 현재 결혼상태
    "w09year2",      # 개인특성변수_배우자의 출생년월(년4자리+월2자리)
    "w09edu_s",      # 개인특성변수_배우자의 학력
    "w09ecoact_s",   # 개인특성변수_배우자의 고용상태
    "w09enu_type",   # 개인특성변수_거주형태
    "w09ba003",      # 개인특성변수_현재 생존 자녀수(명)
    "w09livewithnm", # 개인특성변수_동거하는 미혼자녀 수(명)
    "w09ba069",      # 개인특성변수_10세 이전 양육 도운 손자녀 유무
    "w09bp1",        # 개인특성변수_현재 살아계시는 부모님

    "w09c152",       # 건강상태_응답자(본인)의 주관적 건강 상태
    "w09c001",       # 건강상태_응답자(본인)의 건강상태
    "w09c003",       # 건강상태_의사의 장애판정 여부
    "w09c005",       # 건강상태_건강상태로 인한 활동(일) 제한

    "w09chronic_a",  # 건강상태_고혈압 진단여부
    "w09chronic_b",  # 건강상태_당뇨병/고혈당 진단여부
    "w09chronic_c",  # 건강상태_암/악성종양 진단여부
    "w09chronic_d",  # 건강상태_만성 폐질환 진단여부
    "w09chronic_e",  # 건강상태_간질환 진단여부
    "w09chronic_f",  # 건강상태_심장질환 진단여부
    "w09chronic_g",  # 건강상태_뇌혈관질환 진단여부
    "w09chronic_h",  # 건강상태_정신과적 질환 진단여부
    "w09chronic_i",  # 건강상태_관절염/류마티스 진단여부
    "w09chronic_j",  # 건강상태_전립샘 질환 진단여부
    "w09chronic_k",  # 건강상태_소화기계 질환 진단여부
    "w09chronic_l",  # 건강상태_디스크 진단여부
    "w09chronic_m",  # 건강상태_치매 진단여부

    "w09c056",       # 건강상태_낙상 경험 여부
    "w09c068",       # 건강상태_요실금 경험 여부
    "w09c081",       # 건강상태_시력으로 일상활동 어려움 여부
    "w09c082",       # 건강상태_보청기 사용 여부
    "w09c085",       # 건강상태_틀니 착용 여부
    "w09c102",       # 건강상태_통증으로 일상활동 어려움 여부
    "w09bmi",        # 건강상태_BMI(카우프 지수)

    "w09c108",       # 건강행태_규칙적 운동 여부(주 1회 이상)
    "w09c111",       # 건강행태_주당 운동 횟수(회/주)
    "w09smoke",      # 건강행태_흡연자 구분
    "w09alc",        # 건강행태_음주자 구분
    "w09addic",      # 건강행태_음주태도
    "w09c318",       # 건강행태_지난 기본조사 이후 입원횟수(번)
    "w09c330",       # 건강행태_지난 1년간 치과 방문횟수(회)
    "w09c333",       # 건강행태_지난 1년간 보건소 방문횟수(회)
    "w09c334",       # 건강행태_지난 1년간 한방 방문횟수(회)
    "w09c337",       # 건강행태_지난 1년간 기타 외래진료 횟수(회)
    "w09c340",       # 건강행태_지난 1년간 방문진료 횟수(회)

    "w09adl",        # 인지능력_ADL 지수화
    #"w09mmse",      # 인지능력_인지기능 점수_데이터 더이상 제공 x
    #"w09mmseg",     # 인지능력_인지기능 구분_데이터 더이상 제공 x
    "w09c550",       # 인지능력_본인응답 여부_임의 추가
    "w09mgrip",      # 인지능력_악력 지수화_임의 추가

    "w09fromchildren",   # 경제상태_자녀로부터 받은 금전 총액
    "w09tochildren",     # 경제상태_자녀에게 지원한 금전 총액
    "w09transferfrom",   # 경제상태_지원 받은 금전 총액(자녀+부모+기타)
    "w09transferto",     # 경제상태_지원한 금전 총액(자녀+부모+기타)
    "w09earned",         # 경제상태_지난해 근로총소득(만원)
    "w09pinc",           # 경제상태_지난해 개인총소득(만원)

    "w09e201",       # 경제상태_지난해 월평균 소비_생활비(만원)
    "w09e207",       # 경제상태_지난해 월평균 소비_식비(만원)
    "w09e213",       # 경제상태_지난해 월평균 소비_외식비(만원)
    "w09e219",       # 경제상태_지난해 월평균 소비_공과금비(만원)
    "w09e225",       # 경제상태_지난해 월평균 소비_사교육비(만원)
    "w09e231",       # 경제상태_지난해 월평균 소비_주거비(만원)
    "w09e237",       # 경제상태_지난해 월평균 소비_보건의료비(만원)
    "w09e243",       # 경제상태_지난해 월평균 소비_피복비(만원)
    "w09e273",       # 경제상태_지난해 월평균 소비_경조사비(만원)
    "w09e251",       # 경제상태_지난해 월평균 저축액(저축/적금/보험/연금 등)

    "w09passets",        # 경제상태_개인총자산
    "w09pliabilities",   # 경제상태_개인총부채
    "w09pnetassets",     # 경제상태_개인순자산(만원)

    "w09f001type",       # 경제상태_가구유형(자가/전세/월세/기타)
    "w09hhinc",          # 경제상태_가구총소득(E126)
    "w09hhassets",       # 경제상태_가구총자산(F234)
    "w09hhliabilities",  # 경제상태_가구총부채(F240)
    "w09hhnetassets",    # 경제상태_가구순자산(가구총자산-가구총부채)

    "w09g032",       # 주관적 인식_월평균 용돈
    "w09g003",       # 주관적 인식_일자리기대감(1) 50세까지 가능
    "w09g004",       # 주관적 인식_일자리기대감(2) 60세까지 가능
    "w09g004a",      # 주관적 인식_일자리기대감(3) 65세까지 가능
    "w09g004b",      # 주관적 인식_일자리기대감(4) 5년 더 가능

    "w09g026",       # 주관적 인식_삶의 만족도(1) 건강상태
    "w09g027",       # 주관적 인식_삶의 만족도(2) 경제상태
    "w09g028",       # 주관적 인식_삶의 만족도(3) 배우자관계
    "w09g029",       # 주관적 인식_삶의 만족도(4) 자녀관계
    "w09g030",       # 주관적 인식_삶의 만족도(0) 전반적 삶의 질
    "w09g031",       # 주관적 인식_주관적 계층의식

    "w09cadd_19",    # 정신건강_지난 1년간 2주 지속 우울감 경험
    "w09c142",       # 정신건강_사람들이 차갑게 대하는 느낌
    "w09c143",       # 정신건강_마음이 슬픔
    "w09c144",       # 정신건강_우울감
    "w09c145",       # 정신건강_모든 일에 힘든 느낌
    "w09c146",       # 정신건강_비교적 잘 지냄 생각
    "w09c147",       # 정신건강_사람들이 나를 싫어함 느낌
    "w09c148",       # 정신건강_잠을 잘 이루지 못함
    "w09c149",       # 정신건강_큰 불만없이 생활
    "w09c150",       # 정신건강_외로움
    "w09c151",       # 정신건강_엄두가 안 남

    "w09present_ecotype",    # 고용_경활상태(종속변수) // ecotype , present_ecotype 불일치
]


Lt09_df = raw_Lt_09_df[[c for c in cols if c in raw_Lt_09_df.columns]].copy()

In [8]:
Lt09_df

,pid,w09_fam1,w09_fam2,w09hhsize,w09edu,w09gender1,w09a002_age,w09marital,w09year2,w09edu_s,...,w09c143,w09c144,w09c145,w09c146,w09c147,w09c148,w09c149,w09c150,w09c151,w09present_ecotype
0,21,1,2,2,4,5,67,1,1954,4,...,1,1,1,3,1,1,1,4,1,3
1,22,1,2,2,4,1,68,1,1955,4,...,1,1,1,4,1,1,3,1,1,1
2,51,1,2,2,1,1,80,1,1946,1,...,2,2,2,3,2,1,3,2,1,3
3,52,1,2,2,1,5,76,1,1942,1,...,2,1,2,3,1,1,3,2,1,3
4,62,1,1,1,1,5,78,4,-6,-6,...,2,2,1,3,2,3,3,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6052,68001,1,2,2,3,5,59,1,1960,4,...,1,2,1,1,2,1,2,1,2,1
6053,68011,1,1,1,3,5,60,1,1959,3,...,1,1,1,4,2,2,4,1,1,1
6054,68021,2,5,3,2,1,60,3,-6,-6,...,1,1,1,4,1,1,4,1,1,1
6055,68051,1,2,2,3,1,60,1,1963,3,...,1,1,1,4,1,1,4,1,1,1
6056,68052,1,2,2,3,5,59,1,1962,3,...,1,1,1,4,1,1,4,1,1,1

#### 필요한 컬럼, 독립변수 100개만 있는 정제된 테이블 저장

In [9]:
Lt09_df.to_csv("1-1.lt09_only_needed_raw_data.csv", index=False)