# 260213 | 데이터 불러오기 데스트

### 라이브러리 불러오기

In [1]:
from pandas import DataFrame, read_csv, read_excel

#### 원본 데이터 프레임 저장

In [5]:
raw_w_09_df = read_csv(r'C:\Users\bohee\Desktop\아이티윌\파이널\itwill_bigdata_final_project_code\raw 데이터 모음\w09.csv',encoding='utf-8')

# 컬럼명 전체 소문자로
raw_w_09_df.columns = raw_w_09_df.columns.str.lower()

# 확인
raw_w_09_df

C:\Users\bohee\AppData\Local\Temp\ipykernel_25432\2562628892.py:1: DtypeWarning: Columns (156,166,197,223,280,337,342,394,777,816,1162,1183,1341,1475,1482,1484,1569,1574,1953,2055,2062,2095,2299,2301,2325,2340,2387,2389,2399,2401,2453,2455,2460,2484,2588,2669,2670,2671,2678,2700,2711,2730,2734,2753,2835,2837,2873,2897) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_w_09_df = read_csv(r'C:\Users\bohee\Desktop\아이티윌\파이널\itwill_bigdata_final_project_code\raw 데이터 모음\w09.csv',encoding='utf-8')

,pid,w09oldnew,hhid,hhid22,respid,cid22,ed,w09wgt_p,w09wgt_c,w09wgt_ap,...,w09g041,w09g059,w09g060,w09g110,w09g111,w09g112,w09g113,w09g114,w09g115,w09g116
0,21,1,2,200000000,1,21,833,4387.2435,3317.8860,3778.9157,...,0,2,NaN,13.0,1.0,300000.0,1.0,NaN,NaN,NaN
1,22,1,2,200000000,2,21,833,7880.8718,5333.2337,5977.7969,...,0,2,NaN,12.0,5.0,NaN,NaN,NaN,NaN,1.0
2,51,1,5,500000000,1,51,833,2197.8270,1974.9551,2396.4839,...,0,2,NaN,5.0,1.0,240000.0,5.0,NaN,NaN,NaN
3,52,1,5,500000000,2,51,833,1852.2605,1596.4429,1849.8676,...,0,2,NaN,8.0,1.0,240000.0,5.0,NaN,NaN,NaN
4,62,1,6,600000000,2,61,833,1858.3931,1601.7285,1855.0266,...,0,2,NaN,2.0,1.0,300000.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6052,68001,2,6800,680000000000,1,68001,301,NaN,NaN,973.9626,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6053,68011,2,6801,680100000000,1,68011,494,NaN,NaN,1189.7940,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
6054,68021,2,6802,680200000000,1,68021,967,NaN,NaN,1669.2464,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6055,68051,2,6805,680500000000,1,68051,29,NaN,NaN,6061.7153,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
6056,68052,2,6805,680500000000,2,68051,29,NaN,NaN,3360.4309,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

### 사용할 독립변수만 가져오기

In [6]:
cols = [
   "pid",          #조인용 키
   "w09d001",      #현재 경활 여부
   "w09d002"       #경활 디테일 사항
]


w09_df = raw_w_09_df[[c for c in cols if c in raw_w_09_df.columns]].copy()

In [7]:
w09_df

        pid  w09d001  w09d002
0        21        5      NaN
1        22        1      1.0
2        51        5      NaN
3        52        5      NaN
4        62        5      NaN
...     ...      ...      ...
6052  68001        1      1.0
6053  68011        1      3.0
6054  68021        1      3.0
6055  68051        1      3.0
6056  68052        1      1.0

[6057 rows x 3 columns]

#### 필요한 컬럼만 있는 정제된 테이블 저장

In [8]:
w09_df.to_csv("w09_only_needed_raw_data.csv", index=False)