### 불러온 lt, w 데이터 병합

### 라이브러리 불러오기

In [7]:
from pandas import DataFrame, read_csv, read_excel
import pandas as pd

#### Lt 데이터 프레임 , 사용할 독립 변수만 가져오기

In [4]:
only_needed_Lt_09_df = read_csv(r'C:\Users\bohee\Desktop\아이티윌\파이널\itwill_bigdata_final_project_code\1. 초기 데이터 전처리\1-1.lt09_only_needed_raw_data.csv',encoding='utf-8')


only_needed_Lt_09_df

,pid,w09_fam1,w09_fam2,w09hhsize,w09edu,w09gender1,w09a002_age,w09marital,w09year2,w09edu_s,...,w09c143,w09c144,w09c145,w09c146,w09c147,w09c148,w09c149,w09c150,w09c151,w09present_ecotype
0,21,1,2,2,4,5,67,1,1954,4,...,1,1,1,3,1,1,1,4,1,3
1,22,1,2,2,4,1,68,1,1955,4,...,1,1,1,4,1,1,3,1,1,1
2,51,1,2,2,1,1,80,1,1946,1,...,2,2,2,3,2,1,3,2,1,3
3,52,1,2,2,1,5,76,1,1942,1,...,2,1,2,3,1,1,3,2,1,3
4,62,1,1,1,1,5,78,4,-6,-6,...,2,2,1,3,2,3,3,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6052,68001,1,2,2,3,5,59,1,1960,4,...,1,2,1,1,2,1,2,1,2,1
6053,68011,1,1,1,3,5,60,1,1959,3,...,1,1,1,4,2,2,4,1,1,1
6054,68021,2,5,3,2,1,60,3,-6,-6,...,1,1,1,4,1,1,4,1,1,1
6055,68051,1,2,2,3,1,60,1,1963,3,...,1,1,1,4,1,1,4,1,1,1
6056,68052,1,2,2,3,5,59,1,1962,3,...,1,1,1,4,1,1,4,1,1,1

#### w 데이터 프레임 , 사용할 독립 변수만 가져오기

In [5]:
only_needed_w_09_df = read_csv(r'C:\Users\bohee\Desktop\아이티윌\파이널\itwill_bigdata_final_project_code\1. 초기 데이터 전처리\1-2.w09_only_needed_raw_data.csv',encoding='utf-8')


only_needed_w_09_df

        pid  w09d001  w09d002
0        21        5      NaN
1        22        1      1.0
2        51        5      NaN
3        52        5      NaN
4        62        5      NaN
...     ...      ...      ...
6052  68001        1      1.0
6053  68011        1      3.0
6054  68021        1      3.0
6055  68051        1      3.0
6056  68052        1      1.0

[6057 rows x 3 columns]

### pid 기준으로 Lt, w 데이터 프레임 취합

In [8]:
Lt_w_merged_df = pd.merge(only_needed_Lt_09_df,only_needed_w_09_df,how='left',on='pid')

Lt_w_merged_df

,pid,w09_fam1,w09_fam2,w09hhsize,w09edu,w09gender1,w09a002_age,w09marital,w09year2,w09edu_s,...,w09c145,w09c146,w09c147,w09c148,w09c149,w09c150,w09c151,w09present_ecotype,w09d001,w09d002
0,21,1,2,2,4,5,67,1,1954,4,...,1,3,1,1,1,4,1,3,5,NaN
1,22,1,2,2,4,1,68,1,1955,4,...,1,4,1,1,3,1,1,1,1,1.0
2,51,1,2,2,1,1,80,1,1946,1,...,2,3,2,1,3,2,1,3,5,NaN
3,52,1,2,2,1,5,76,1,1942,1,...,2,3,1,1,3,2,1,3,5,NaN
4,62,1,1,1,1,5,78,4,-6,-6,...,1,3,2,3,3,2,2,3,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6052,68001,1,2,2,3,5,59,1,1960,4,...,1,1,2,1,2,1,2,1,1,1.0
6053,68011,1,1,1,3,5,60,1,1959,3,...,1,4,2,2,4,1,1,1,1,3.0
6054,68021,2,5,3,2,1,60,3,-6,-6,...,1,4,1,1,4,1,1,1,1,3.0
6055,68051,1,2,2,3,1,60,1,1963,3,...,1,4,1,1,4,1,1,1,1,3.0
6056,68052,1,2,2,3,5,59,1,1962,3,...,1,4,1,1,4,1,1,1,1,1.0

#### 병합한 데이터 프레임 파일로 저장

In [9]:
Lt_w_merged_df.to_csv("1-3.Lt_w_merged_df.csv", index=False)